In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('/Users/artemiyshvetsov/Desktop/DIPLOMA/atsenergo/RSV_statistics_hour_01012017_31122023_pub_1.xlsx')
data

,Дата,ЦЗ,Час,"Объем полного планового потребления, МВт.ч","Индекс равновесных цен на покупку электроэнергии, руб./МВт.ч."
0,2017-01-01,1,0,90260.873,1093.53
1,2017-01-01,1,1,88588.266,1077.31
2,2017-01-01,1,2,87199.111,1064.91
3,2017-01-01,1,3,85246.100,1013.63
4,2017-01-01,1,4,84200.771,987.29
...,...,...,...,...,...
122683,2023-12-31,2,19,27232.067,1522.43
122684,2023-12-31,2,20,26747.236,1512.71
122685,2023-12-31,2,21,26518.699,1493.06
122686,2023-12-31,2,22,26345.476,1446.27
122687,2023-12-31,2,23,26150.627,1426.29

In [3]:
data.dtypes

Дата                                                             datetime64[ns]
ЦЗ                                                                        int64
Час                                                                       int64
Объем полного планового потребления, МВт.ч                              float64
Индекс равновесных цен на покупку электроэнергии, руб./МВт.ч.           float64
dtype: object

In [4]:
final_data = pd.DataFrame()
final_data['timestamp'] = pd.to_datetime(data['Дата']) + data['Час'].astype('timedelta64[h]')
final_data['price'] = data['Индекс равновесных цен на покупку электроэнергии, руб./МВт.ч.']
final_data

                 timestamp    price
0      2017-01-01 00:00:00  1093.53
1      2017-01-01 01:00:00  1077.31
2      2017-01-01 02:00:00  1064.91
3      2017-01-01 03:00:00  1013.63
4      2017-01-01 04:00:00   987.29
...                    ...      ...
122683 2023-12-31 19:00:00  1522.43
122684 2023-12-31 20:00:00  1512.71
122685 2023-12-31 21:00:00  1493.06
122686 2023-12-31 22:00:00  1446.27
122687 2023-12-31 23:00:00  1426.29

[122688 rows x 2 columns]

In [5]:
final_data.dtypes

timestamp    datetime64[ns]
price               float64
dtype: object

In [6]:
final_data.to_csv('atsenergo_2017_2023.csv', index=False, sep=',')